.root {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px;

    h1 {
        text-align: center;
    }
}

.description {
    font-size: 30px;
    padding: 40px 0px;
    text-align: center;
}

.image {
    display: flex;
    min-width: 100px;
    max-width: 500px;
    height: auto;
}
